@charset "UTF-8";
/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/*공통 css*/
html{
	font-size: 16px;
}

.web_container {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
}

a, div, li {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    color: #000;
    /* background: #f2ebe6; */
    word-wrap: normal;
    word-break: keep-all;
}

body, html {
    height: 100%;
    min-height: 450px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1em;
}

/*탭 메뉴*/
.tab_storyBtn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tab_storyBtn:after {
    display: block;
    content: "";
    clear: both;
}

.tab_storyBtn li.on {
    border-bottom: none;
}

.tab_storyBtn li {
    float: left;
    width: 50%;
    border-bottom: 2px solid #000;
}

.tab_storyBtn li.on button {
    border: 2px solid #000;
    border-bottom: 0;
    color: #000;
    background: #fff;
}

.tab_storyBtn li button {
    width: 100%;
    height: 100%;
    padding: 23px 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: silver;
    background: #f2f2f2;
    border-left: 1px solid #fff;
}

button {
    margin: 0;
    font-size: 1em;
    color: #000;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    cursor: pointer;
    font-family :'S-CoreDream-9Black';
}

button, table td, table th {
    padding: 0;
}

/*광고 부분 탭 메뉴*/
.tab_storyBtn li.on+li button {
    border-left: none;
}

/*신제품*/
.new_product {
    padding-bottom: 75px;
}

.MOB {
    display: none!important;
}

.new_product .prdmenu_list {
    padding: 0;
}

.prdmenu_list {
    margin-top: 60px;
    padding-bottom: 46px;
    overflow: hidden;
}

/*신제품 li부분*/
.new_product .prdmenu_list li:nth-child(4n+1) {
    clear: both;
}

.new_product .prdmenu_list li {
    margin-bottom: 20px;
    padding: 0 4px;
}

.prdmenu_list li {
    position: relative;
    float: left;
    width: 25%;
    margin-bottom: 8px;
}

.prdmenu_list .prd_img {
    max-width: 220px;
    height: 144px;
    margin: 0 auto;
    overflow: hidden;
}

.prd_img {
    position: relative;
}

.prdmenu_list .prd_img img {
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
    border: none;
}

/*신제품 내용 부분*/
.new_product .prdmenu_list .cont {
    max-width: 85%;
    font-size: 1.125rem;
    line-height: 167%;
    text-align: left;
    font-family :'S-CoreDream-9Black';
}

.prdmenu_list .cont {
    min-height: 115px;
    padding: 30px 5px 0;
    text-align: center;
}

.prdmenu_list .tit {
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -1px;
}

.new_product .prdmenu_list .txt_intro {
    margin: 12px 0 25px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #89513a;
    line-height: 140%;
    letter-spacing: -1.2px;
}

/*반응형*/
@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.tab_storyBtn {
    border-bottom: 1px solid #f2f2f2;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.m_shadow {
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 6%);
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.tab_storyBtn li {
    position: relative;
    border: none;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.tab_storyBtn li.on button {
    border: 0;
    color: #000;
    background: none;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.tab_storyBtn li button {
    padding: 15px 0;
    font-size: .938em;
    background: none;
    border-bottom: 0;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.tab_storyBtn li:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    content: "";
    width: 1px;
    height: 12px;
    background: #e4e4e4;
}}


@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product {
    padding: 0;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.m_subtit {
    margin: 20px 0;
    font-weight: 700;
    font-size: 1.375rem;
    text-align: center;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.MOB {
    display: block!important;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list {
    padding: 0 16px 16px;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.prdmenu_list {
    margin: 0;
    padding: 0;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list li:nth-child(odd) {
    clear: both;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list li {
    display: block;
    float: left;
    width: 48%;
    padding: 0;
    border: none;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.prdmenu_list li {
    position: relative;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    min-height: 95px;
    margin-bottom: 0;
    padding: 10px 40px 10px 133px;
    border-bottom: 1px solid #f8f3ed;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list .prd_img {
    position: static;
    margin: 0 auto;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.prdmenu_list .prd_img {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 116px;
    height: 76px;
    margin-top: -38px;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.WEB {
    display: none!important;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list .cont {
    max-width: 100%;
    font-size: .75rem;
    line-height: 150%;
    text-align: center;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.menu_sub_list .price, .prdmenu_list .tit {
    font-size: 1rem;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list .txt_intro {
    margin: 8px 0 10px;
    font-size: .8125rem;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.prdmenu_list .cont {
    width: 100%;
    min-height: 1em;
    padding: 18px 0;
    color: #2e2e2e;
    text-align: left;
}}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{.new_product .prdmenu_list li:nth-child(2n) {
    float: right;
}}


