@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1em;
}

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

h2 {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a, div, li {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    color: #000;
    background: #f2ebe6;
    word-wrap: normal;
    word-break: keep-all;
}

/* 배달지 검색 페이지 전체 div */
.contentsBox01 {
    padding: 50px 0 45px;
}

.bg_w {
    background: #fff;
}

/* 최근 배달지/MY 배달지 전체 div */
.web_container02 {
    max-width: 776px;
    margin: 0 auto;
    padding: 0 8px;
}

/* 배달지 검색 div */
.subtitWrap {
    position: relative;
    margin-bottom: 26px;
}

/* 배달지 검색 세부 div */
.subtitWrap .page_tit {
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 100%;
}

.searchWrap01:last-child {
    margin-bottom: 0;
}

/* 주소 input 창 div*/
.searchWrap01 {
    position: relative;
    margin-bottom: 8px;
    background: #fff;
}

/* 주소찾기 버튼 div */
.r_srch01 {
    position: relative;
    padding-right: 166px;
}

.inpbox {
    position: relative;
}

.inpbox input {
    width: 100%;
    padding: 0 25px 3px 5px;
}

input[type=color], input[type=date], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=rang], input[type=search], input[type=tel], input[type=text], input[type=url] {
    display: inline-block;
    height: 66px;
    margin: 0;
    padding: 3px 10px 3px 4px;
    font-weight: 400;
    font-size: 1.375rem;
    font-family: 'S-CoreDream-5Medium';
    color: #000;
    vertical-align: middle;
    background: url(../../img/delivery/search_under.png) repeat-x 0 100%;
    border: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.inpbox button {
    width: 30px;
    height: 63px;
    margin: 0;
}

.inpbox button, .inpbox input~* {
    position: absolute;
    right: 0;
    top: 0;
}

.btn_del01 {
    width: 30px;
    height: 40px;
    text-indent: -9999em;
    background: url(../../img/delivery/search_btn.png) no-repeat 50%;
    background-size: 18px auto;
}

.r_srch01 button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22px;
    font-family: 'S-CoreDream-5Medium';
}

.btn_search01 {
    width: 134px;
    height: 44px;
    color: #fff;
    background: #2e2e2e;
    border-radius: 5px;
}

/* 주소찾기 버튼 */
.btn_search01>span {
    padding-right: 28px;
    background: url(../../img/delivery/search_btn.png) no-repeat 100%;
    font-size: 1rem;
}

.contentsBox01 {
    padding: 50px 0 45px;
}

.web_container02 {
    max-width: 776px;
    margin: 0 auto;
    padding: 0 8px;
}

.tabfixWrap {
    position: relative;
    padding-top: 54px;
}

.tabfixWrap .tab01 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.tab01 {
    margin-bottom: 20px;
    overflow: auto;
}

.tab01 a:hover, .tab01 button:hover {
    color: #2e2e2e;
}

.tab01 a, .tab01 button {
    display: inline-block;
    padding: 10px 1px;
    font-weight: 700;
    font-size: 1.375rem;
    color: #b8b8b8;
    border: 0 solid transparent;
    border-width: 4px 0;
}

button {
    margin: 0;
    font: font-family: 'S-CoreDream-5Medium';
    color: #000;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    cursor: pointer;
}

.tab01 ul {
    display: table;
}

.tab01 li:first-child {
    padding-left: 0;
}

.tab01 li {
    position: relative;
    display: table-cell;
    padding: 0 18px;
    vertical-align: top;
    white-space: nowrap;
}

.tab01 li.on a, .tab01 li.on button {
    color: #e22219;
    border-bottom-color: #e22219;
}

.tab01 button {
    height: 54px;
    padding: 5px 0;
}

.tab01 a>*, .tab01 button>* {
    vertical-align: middle;
    font-family: 'S-CoreDream-9Black';
}

.hide {
    position: absolute!important;
    left: -10000px;
    top: -10000px;
    visibility: hidden;
}

.nodata, .nodata .tit {
    font-size: 1.5rem;
    line-height: 150%;
}

.nodata {
    padding: 370px 10px 10px;
    color: #766e69;
    text-align: center;
    background: url('https://www.burgerking.co.kr/dist/img/ico_nodata01.26f01a61.png') no-repeat center 150px;
    z-index: 10;
}

/* 배달지 전체 div */
.container01 {
    padding: 20px 0;
}

.container01 .delivery_list {
    padding: 0;
    list-style: none;
}

.delivery_list>li {
    position: relative;
    margin-bottom: 20px;
    padding: 45px 50px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.delivery_list .addr, .delivery_list .nick {
    margin-right: 60px;
    font-size: 1.5rem;
}

.delivery_list .addr_old {
    margin-top: 7px;
}

.addr_old {
    font-size: 1rem;
    color: rgba(0,0,0,.5);
}

.addr_old .type {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 8px;
    font-weight: 700;
    font-size: .625rem;
    color: #fff;
    line-height: 100%;
    vertical-align: middle;
    background: #8d8d8d;
    border-radius: 2px;
}

.delivery_list .btn_detail {
    width: 85%;
}

.btn_detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -99999em;
    background: transparent;
}
