@charset "UTF-8";

/* 딜리버리 주문내역/카트 내역 전체 배경 div */
.head_personalWrap {
	height: 124px;
    font-size: 1.3rem;
    color: #fff;
    background: url(https://www.burgerking.co.kr/dist/img/bg_personality.2ff1d0f9.gif) repeat-x top;
    margin-top: 168px;
}

.head_personalWrap .web_container {
    position: relative;
    height: 100%;
}

.personal_logoff {
    position: relative;
    height: 100%;
    padding-top: 35px;
}

.head_personalWrap .web_container>* {
    height: 100%;
    overflow: hidden;
}

.personal_logoff p {
    margin-bottom: 1px;
}

.head_personalWrap a {
    color: #fff;
}

.personal_logoff a {
    padding-right: 22px;
    text-decoration: underline;
    background: url(../../img/delivery/white_right.png) no-repeat 100%;
}

.personal_logoff .btn_area {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -30px;
}

.personal_logoff .btn_area a {
    display: inline-block;
    width: 174px;
    height: 60px;
    margin-left: 4px;
    padding: 0;
    font-size: 1.25rem;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    background: url('https://www.burgerking.co.kr/dist/img/btn_personal01.b0d3f380.png') no-repeat 0 0;
}

.personal_logon {
    position: relative;
    height: 100%;
}

.head_personalWrap .web_container>* {
    height: 100%;
    overflow: hidden;
}

.personal_logon:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    margin-left: -1.5px;
    background: url(../../img/delivery/center_bar.png) no-repeat 50%;
}

.personal_logon>* {
    width: 50%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.head_personalWrap a {
    color: #fff;
}

.personal_order {
    position: absolute;
    left: 0;
    top: 50%;
    min-height: 56px;
    padding-left: 110px;
    background: url(../../img/delivery/personal_order.png) no-repeat 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.personal_order dd {
    margin-top: 10px;
    font-size: 1.125rem;
    line-height: 167%;
}

.personal_cart {
    position: absolute;
    right: 0;
    top: 50%;
    width: 41%;
    padding-left: 95px;
    background: url(../../img/delivery/personal_cart.png) no-repeat 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.personal_cart dt>* {
    vertical-align: middle;
}

.personal_cart dd {
    margin-top: 10px;
    font-size: 1.125rem;
}

@media screen and (max-width: 879px) {
.personal_logoff {
    padding-top: 20px;
    font-size: 1.25rem;
}

.personal_logoff .btn_area {
    margin-top: -10px;
}


}


/* 모바일 화면 */
@media (max-height: 500px) and (orientation: landscape), 
	screen and (max-width: 768px) and (orientation: portrait) {
	
	
}