@charset "UTF-8";

/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

:root {
  --text-color: #FFFFFF;
  --backgroun-color: #E22219;
  --accent-color: #d49466;
}

body {
  box-sizing: border-box;
  margin: 0;
/*   font-family: 'S-CoreDream-9Black'; */
  font-family: 'S-CoreDream-5Medium';
}

a {
  text-decoration: none;
  color: white;
}

input[type=text], input[type=url] {
    display: inline-block;
    height: 66px;
    margin: 0;
    padding: 3px 10px 3px 4px;
    font-weight: 400;
    font-size: 1.375rem;
    font-family: 'S-CoreDream-5Medium';
    color: #000;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
/*     background: url(../../img/delivery/search_under.png) repeat-x 0 100%; */
}


/* 데스크탑 딜리버리 헤더 start*/
/* 헤더 전체 div */
.delivery_navbar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: var(--backgroun-color);
   font-family: 'S-CoreDream-9Black';
   height: 180px;
   z-index: 100;
}

/* 로고와 타이틀 */
.king_logo {
	font-family: 'S-CoreDream-9Black';
    display: inline-block;
    position: static;
    width: auto;
    height: 120px;
    padding-left: 80px;
	line-height: 129px;
    background: url(https://www.burgerking.co.kr/dist/img/logo_delivery.26d1d682.png) no-repeat 0;
    cursor: pointer;
    color: #fff;
	font-weight: 300;
    font-size: 2.1rem;
    text-indent: 0;
}

/* 로고 div */
.delivery_navbar_logo {
  display: inline;
  font-size: 24px;
  color: var(--text-color);
  padding-left: 10px;
}

.web_header_center_div {
	width: 100%;
    display: inline;
    margin: 0 auto;
    padding-left: 20px;
/*     padding-right: 20px; */
}

/* 상단 퀵메뉴 div */
.delivery_navbar_right_menu {
	background-color: var(--backgroun-color);
    font-family: 'S-CoreDream-5Medium';
    color: white;
    height: 30px;
    margin: 0 auto;
    max-width: 1184px;
}

.delivery_navbar_right_menu ul {
	list-style: none;
}

.delivery_navbar_right_menu li {
	float: left;
}

/* 상단 마이페이지 div */
.logo_myinfo_all_div {
    background-color: var(--backgroun-color);
    font-family: 'S-CoreDream-5Medium';
    color: white;
    /* width: 70%; */
    height: 130px;
    margin: 0 auto;
    max-width: 1184px;
}

.delivery_navbar_myinfo {
	display: inline-block;
    color: #fff;
    width: 20%;
    margin-left: 50%;
}

/* 상단 마이페이지 아이콘 div */
.my_info_icon {
	display: inline;
	font-size: 40px;
    color: #fff;
}

.my_info_span_div {
	display: inline-block;
    width: 40%;
    height: 70px;
    margin-left: 5px;
}

.span_div {
	display: inline-block;
    width: 180px;
}

.border_li {
	border-left: #E84E47 1px solid;
    margin-left: 15px;
    padding-left: 15px;
    height: 17px;
}


.delivery_navbar_toggleBtn {
  display: none;
  right: 32px;
  font-size: 24px;
  color: #fff;
}

.delivery_navbar_cartBtn {
  display: none;
  right: 32px;
  font-size: 24px;
  color: #fff;
}

.menu_div_close {
	display: none;
}

.brand_home_div {
	display: none;
}

.info_div {
	display: none;
}

.delivery_navbar_menu {
	display: none;
}

.mob_delivery_navbar_logo {
	display: none;
}

.popcont {
    max-height: 580px;
    padding: 24px 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.popcont.pd02 {
    padding: 15px 24px;
}

.addr_chk {
    margin: 20px 56px;
    padding: 92px 0 28px;
    text-align: center;
    background: url(../../img/delivery/marker_black.png) no-repeat top;
    border-bottom: 1px dashed #e5e5e5;
}

.txt02, .txt03 {
    margin: 5px 0;
    text-align: center;
}

.addr_chk+.txt02 {
    margin: 20px 0;
}

.addrPopWrap .txt02 {
    font-size: 1.5rem;
}

.addr_chk dt {
    font-weight: 700;
    font-size: 2rem;
    color: #e22219;
}

.addr_chk dd {
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.875rem;
    color: #010101;
    line-height: 127%;
}


.addrPopWrap {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 300;
}

.c_btn:last-child {
	margin-bottom: 0;
}

.pop_btn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	overflow: hidden;
}

.c_btn {
	margin: 40px 0 80px;
	text-align: center;
	overflow: hidden;
}

.pop_btn.item2 a, .pop_btn.item2 button {
    float: left;
    width: 50%;
    margin: 0;
}

.addrbtn.dark, .addrbtn.st02 {
    background-color: #2e2e2e;
}
.pop_btn a, .pop_btn button {
    border-radius: 0;
}
.addrbtn, .addrbtn.red {
    display: inline-block;
    height: 84px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 1.625rem;
    color: #fff;
    text-align: center;
    line-height: 44px;
    background: #e22219 url(https://www.burgerking.co.kr/dist/img/bg_btn02_pattern.908362f6.png) repeat-x 0 0;
    background-size: auto 100%;
}

.c_btn.item2 a:last-child, .c_btn.item2 button:last-child {
	float: right;
}

.addrPopWrap .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

/* 데스크탑 딜리버리 헤더 end*/

/* 모바일 딜리버리 헤더 start*/
@media screen and (max-width: 768px) {
   .logo_myinfo_all_div {
   	  display: none;
   }
   
  .mob_king_logo {
    display: inline-block;
    position: static;
    width: auto;
    height: 35px;
    padding-left: 40px;
    line-height: 36px;
    background: url(https://www.burgerking.co.kr/dist/img/logo_delivery.26d1d682.png) no-repeat 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.1rem;
    text-indent: 0;
    background-size: 35px;
    font-family: 'S-CoreDream-9Black';
   }

  .delivery_navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0px;
    position: relative;
    font-family: 'S-CoreDream-9Black';
    height: 60px;
  }
  
  .mob_header_center_div {
  	width: 100%;
  }
  
  .mob_delivery_navbar_logo {
	  align-self: center;
	  display: inline;
	  margin-left: 31%;
  }
  
  .delivery_navbar_right_menu {
  	display: none;
  }
  
  /* 햄버거 버튼 누르면 나오는 div */
  .delivery_navbar_menu_div {
    display: none;
    position: absolute;
  	background-color: #fff;
  	font-family: 'S-CoreDream-9Black';
  	width: 100%;
  	height: 100%;
  	color: black;
  	top:0;
  	left:0;
  	z-index: 100;
  	font-size: 1.2rem;
    padding-top: 2%;
  }
  
  /* 왼쪽 슬라이드 효과 */
  .delivery_navbar_menu_div {
    animation: 0.5s delivery_navbar_menu_div;
/*     transform: translateX(-100%); */
  }
	
   @keyframes delivery_navbar_menu_div {
     from {
       margin-left: -100%;
     }
     to {
       margin-left: 0%;
     }
   }
  
  .delivery_navbar_menu {
    display: block;
    background-color: #F8F8F8;
  	color: black;
  	height: 100%;
  }
  
  .menu_all_ul {
  	list-style: none;
    padding-top: 3%;
    padding-left: 0%;
  }
  
  .menu_ul {
    list-style: none;
    color: black;
    margin-left: -4%;
    margin-top: 1%;
    font-weight: lighter;
  }
  
  .menu_ul li {
    list-style: none;
  	color: black;
  	font-family: 'S-CoreDream-5Medium';
  }
  
  .menu_ul li a {
	  text-decoration: none;
	  color: black;
	  font-family: 'S-CoreDream-5Medium';
  }
  
  .menu_li {
  	color: black;
    margin-bottom: 3%;
    margin-left: 4%;
    /* margin-top: 6%; */
    padding-top: 3%;
    border-top: #eee 1px solid;
    /* border-bottom: #eee 1px solid;*/
  }

  .menu_div_close {
	display: inline;
	margin-left: 3%;
	cursor: pointer;
  }
	
  .brand_home_div {
	display: inline;
	margin-left: 73%;
  }
  
  .info_div {
  	display: block;
  	margin-left: 3%;
    margin-top: 5%;
  }

  .delivery_navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .delivery_navbar_toggleBtn {
    display: inline;
    margin-left: 3%;
  }
  
  .delivery_navbar_cartBtn {
    display: inline;
    margin-left: 34%;
  }
  
  .delivery_navbar_myinfo {
	display: none;
}

   .my_info_icon {
		display: none;
   }
   
   .popcont {
	    padding: 16px 16px 0;
	    max-height: 450px;
	    font-size: 1rem;
	    overflow-y: auto;
	    -webkit-overflow-scrolling: touch;
	}
	
	.popcont.pd02 {
	    padding: 15px 24px;
	}
	
	.addr_chk {
	    margin: 20px 0 12px;
	    padding: 60px 0 22px;
	    background-size: 30px auto;
	}
	
	.addr_chk dt {
	    font-size: .75rem;
	}
	
	.addr_chk dd {
	    margin-top: 8px;
	    font-size: 1.125rem;
	    color: #010101;
	    line-height: 123%;
	}
	
	.addr_chk+.txt02 {
	    margin: 12px 0 0;
	}
	
	.popbox02 .botfixWrap button, .addrPopWrap .txt02 {
	    font-size: 1rem;
	}
	
	.pop_btn {
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: 0;
	    padding: 15px 16px;
	    overflow: hidden;
	}
	
	.m_btn01_s {
	    min-width: 120px;
	    height: 50px!important;
	    padding: 10px!important;
	    font-size: 1.125rem!important;
	    line-height: 30px!important;
	    background-size: 100% 100%!important;
	    border-radius: 0;
	}
	
	.pop_btn.item2 a, .pop_btn.item2 button {
	    width: calc(50% - 6px);
	    min-width: inherit;
	}

}
/* 모바일 딜리버리 헤더 end*/