@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

body {
	font-size: 1rem;
	margin-top: 10%;
	z-index: 4;
}


.web_container {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 30px;
}

.subtitWrap {
    position: relative;
    margin-bottom: 26px;
}

.web_container .page_tit {
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 100%;
}

.nodata {
    padding: 370px 10px 10px;
    color: #766e69;
    text-align: center;
    background: url('https://www.burgerking.co.kr/dist/img/ico_nodata01_type02.e0a98f2b.png') no-repeat center 150px;
    z-index: 10;
}

.nodata, .nodata .tit {
    font-size: 1.5rem;
    line-height: 150%;
}

.bg02 .nodata, .bg_w .nodata {
    color: silver;
    background-image: url('https://www.burgerking.co.kr/dist/img/ico_nodata01_type02.e0a98f2b.png');
}

/* 모바일 화면 */
@media (max-height: 500px) and (orientation: landscape), 
	screen and (max-width: 768px) and (orientation: portrait) {

}