@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

body {
	font-size: 1rem;
	margin-top: 10%;
	z-index: 4;
}

/* 모바일 화면 */
@media (max-height: 500px) and (orientation: landscape), 
	screen and (max-width: 768px) and (orientation: portrait) {

}