@charset "UTF-8";





/* 중복아이디 존재하지 않는경우 */
	.id_check_result1{
		color : green;
		display : none;
	}
	/* 중복아이디 존재하는 경우 */
	.id_check_result2{
		color : red;
		display : none;
	}
	
	
	
	.pwd_check_result{
	
		color : red;
		display : none;
	}
	
	.pwd_check_result1{
	
		color : green;
		display : green;
	}