@charset "UTF-8";

/* 유의사항 div */
.order_caution {
	max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'S-CoreDream-5Medium';
    margin-bottom: 40px;
}

/* 유의사항 title */
.tit03 {
    position: relative;
    margin: 25px 0;
    padding: 12px 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
}

.tit03>h2, .tit03>h3, .tit03>h4 {
    margin-right: 10em;
}

.tit03 button {
    position: absolute;
    right: 0;
    top: 50%;
    height: 1.4em;
    margin-top: -.7em;
    font-size: 1.125rem;
    color: #2e2e2e;
}

/* 알레르기 유발성분 버튼 */
.btn_infoingredient {
    position: relative;
    padding: 0 0 0 24px;
    font-family: 'S-CoreDream-9Black';
    background: url(../../img/delivery/btn_infoingredient.png) no-repeat 0;
    border: none;
}

.btn_infoingredient>* {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.btn_infoingredient>:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: url(../../img/delivery/after.png) no-repeat 100%;
}

/* 유의사항 리스트 ul */
.txtlist01 {
    margin: 7px 0 7px 22px;
    line-height: 167%;
}

.txtlist01 li {
    position: relative;
    list-style: disc;
/*     padding-left: 12px; */
}

.txtlist01 li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 1.67em;
}