@charset "UTF-8";


/* 폰트 */
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: all;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: all;
     font-style: normal;
}

/* rem 기준 */
html {
	font-size: 20px;	
}

/* 본문 전체 폰트 적용 */
body * {
	font-family: 'S-CoreDream-9Black';
}

body {
	word-break: keep-all;
	word-wrap: normal;
}


/* 먹색 영역 스타일 시작  */

body {
	padding: 5rem 0 0;	/* 이 부분은 헤더 포함시킨 후 삭제하기 */
	font-size: 1rem;
	margin: 0;			/* 전체화면 너비 차지할 수 있도록 */
}

body a {
	text-decoration: none;
}

/* 먹색 영역 전체 감싸는 영역 */
/* 배경색 적용, 높이 적용 */
.order_container {
	background: rgb(46,46,46);
	height: 6.2rem;		/* 124px */
	background: url(../../img/mypage/img_background.gif) repeat-x top;
	min-width: 975px;
}

/* 리스트 감싸는 영역 */
.order {
	width: 87%;			/* 970px 이상에서는 87% 크기 유지 */
	height: 124px;
	max-width: 1144px;
	margin: 0 auto;		/* 가운데 정렬 */
	padding: 0 1rem;
	
}

.order .order_wrapper {
	position: relative;
	height: 100%;
}

.order .order_wrapper .my-delivery {
	position: absolute;
	left:0;
	top: 25%;
	width: 16%;
	height: 3.4rem;
	min-width: 276.39px;
	padding-left: 110px;
	color: rgb(255,255,255);
	background: url(../../img/mypage/img_delivery.png) no-repeat 0;
}

.order .order_wrapper .my-cart {
	position: absolute;
	right: 0;
	top: 25%;
	width: 33%;
	padding-left: 95px;
	color: rgb(255,255,255);
	background: url(../../img/mypage/img_cart.png) no-repeat 0;
}

.my-delivery>dl, .my-cart>dl {
	margin: 0;
	font-weight: 700;
}

.my-delivery>dl>dd, .my-cart>dl>dd {
	margin: 0;
	margin-top: 0.5rem;
	font-family: 'S-CoreDream-5Medium';
	font-weight: 400;
	font-size: 0.9rem;
}

.order_wrapper:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	width: 3px;
	height: 100%;
	margin-left: -1.5px;
	background: url(../../img/mypage/img_line.png) no-repeat 50%;
}

/* .order ul {
	display: flex;		자식인 li는 행배치됨
	justify-content: space-between;
	list-style: none;		
}

.order ul li {
	flex: 1;			li들의 크기는 동일
	position: relative;
	padding: 0 0 0 1.5rem;
	background: url(/resources/img/mypage/img_delivery.png) no-repeat left;
}

li 사이에 선 추가(모든 li요소 앞에 선 추가)
.order ul li:before {
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	height: 100px;
	border-left: 1px solid rgb(255,255,255);
}

li 사이에 선 추가(첫 번째 li 앞에는 선 추가되지 않게)
.order ul li:first-child:before {
	content:"";
	border-left: 0;
}

.order ul li strong {
	font-size: 1.25rem;
	color: rgb(255,255,255);
	padding-left: 6rem;
}

.order ul li p {
	font-size: 1rem;
	color: rgb(255,255,255);
	padding-left: 6rem;
}

.order ul li:nth-child(1) {
	background: url("../../img/mypage/img_delivery.png") no-repeat left top;
}

.order ul li:nth-child(2) {
	background: url("../../img/mypage/img_cart.png") no-repeat left 0.2rem top;
} */


.contentsWrap {
	min-height: 450px;
	margin: 0 auto;
}


/* 까만 영역 스타일 시작 */

/* 배경, 글씨색 지정 */
.loc_container {
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	height: 1.9rem;
	min-width: 975px;
	padding: 0.5rem 0;
	font-family: 'S-CoreDream-5Medium';
	font-weight: 400;
	font-size: 0.8rem;
}

.loc_container .loc {
	/* display: flex;		자식 div 행배치
	justify-content: space-between;	양 끝에 위치시킴	*/
	height: 1.9rem;
	width: 91%;			/* 너비는 91%, 패딩 양 옆 20px씩 주고 나머지 넓이는 양 옆 마진으로 똑같이 */
	max-width: 1144px;
	margin: 0 auto;
	padding: 0 1rem;
}

.loc_container .loc .page-navi {
	/* padding-left: 4rem; */
	float: left;
	height: 38px;
}

.loc_container .loc .page-navi a {
	/* position: relative; */
	float: left;
}

.loc_container .loc .page-navi a::before {
	/* position: absolute;
	left: 0;
	top: 0; */
	content:"";
	background: url(../../img/mypage/img_arrow2.gif) no-repeat 50%;
	margin: 0 12px;
	width: 4px;
	float: left;
	height: 38px;
}

.loc_container .loc .page-navi a:first-child:before {
	content:"";
	margin: 0;
	width: 0;
}

.page-navi span {
	line-height: 38px;
}

.loc_container .loc .location {
	/* padding-right: 4rem; */
	float: right;
	height: 38px;
}

.location span {
	line-height: 38px;
}

.location {
	background: url(../../img/mypage/img_location.png) no-repeat 0;
	padding-left: 22px;
}

.location .addr{
	width: 9%;
}

.location .btn {
	width: 4%;
	height: 34px;
	margin-left: 20px;
}

.location .btn a {
	display: inline-block;
	background-color: white;
	color: black;
	border-radius: 5px;
	width: 56px;
	/* height: 34px; */
	align-content: center;
	text-align: center;
}



/* 하얀색 영역 (배달지 검색) */

/* 전체 감싸는 영역(위아래 여백) */
.search_box {
	height: 132px;
	padding: 50px 0 45px 0;
	min-width: 960px;
}

/* 감싸는 영역(양 옆 여백) */
.search_container {
	height: 132px;
	max-width: 760px;
	margin: 0 auto;
	padding: 0 8px;
}

/* 검색 타이틀 영역 */
.search_container .search_title {
	margin-bottom: 26px;
}

/* 검색 타이틀 */
.search_container .search_title h2 {
	margin: 0;
	font-size: 2rem;
	font-weight: 900;
}

/* 검색창 영역 */
.search_wrap .search {
	padding-right: 166px;
	position: relative;
}

/* 검색창 */
.search_inp input {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;		/* border포함한 사이즈로 (밑줄 위치 맞추기) */
	padding: 0 25px 3px 5px;
	height: 66px;
	font-size: 1.1rem;
	vertical-align: middle;
	background: url(../../img/mypage/img_line2.png) repeat-x 0 100%;
	border: none;
	appearance: none;
	outline: none;		/* 입력할 때 인풋 박스 테두리 제거 */
}

/* 검색 버튼 */
.search_btn {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -22px;
	width: 134px;
	height: 44px;
	color: #fff;
	background: #2e2e2e;
	border-radius: 5px;
	border: none;
	text-align: center;
}

/* 검색 버튼 텍스트 + 검색 이미지 */
.search_btn span {
	padding-right: 28px;
	background: url(../../img/mypage/img_searchBtn.png) no-repeat 100%;
}


/* 베이지색 영역 시작 */

/* 전체 감싸는 영역 - 위아래 여백, 배경색, 높이 지정 */
.contents_box {
	padding: 50px 0 45px;
	background-color: #f2ebe6;
	height: 510px;
	min-width: 960px;
}

.contents_container {
	margin: 0 auto;
	padding: 0 8px;
	height: 510px;
	max-width: 760px;
}

.contents_wrap {
	padding-top: 54px;
	position: relative;
	height: 456px;
}

.contents_wrap .tab_tit {
	margin-bottom: 20px;
	height: 54px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	overflow: auto;
}

/* .tab_tit button:hover {
	color: #2e2e2e;
} */

.tab_tit .item2 {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 54px;
}

.tab_tit ul li:first-child {
	padding-left: 0;
}

.tab_tit ul li {
	position: relative;
	display: table-cell;
	padding: 0 18px;
	vertical-align: top;
	white-space: nowrap;
}

.tab_tit ul li.on a, .tab_tit li.on button {
	color: #e22219;
	border-bottom-color: #e22219;
}

.tab_tit button {
	height: 54px;
	padding: 5px 0;
	vertical-align: middle;
	margin: 0;
	background: 0;
	overflow: visible;
}

.tab_tit a, .tab_tit button {
	display: inline-block;
	font-size: 1.05rem;
	color: #b8b8b8;
	border: 0 solid transparent;
	border-width: 4px 0;
}

/* 배달지 내용 보여주는 컨테이너 부분 */

/* 콘텐츠 컨테이너에서 최근 배달지, MY 배달지 h3태그는 아예 안 보이게 */
.hide {
	position: absolute!important;
	left: -10000px;
	top: -10000px;
	visibility: hidden;
}
/* 배달지 정보 없을 경우 보여줄 내용 */
.nodata {
	padding: 370px 10px 10px;
	color: #766e69;
	text-align: center;
	background: url(../../img/mypage/img_nodata.png) no-repeat center 150px;
	z-index: 10;
	font-size: 1.2rem;		/* 24px */
}

.nodata span {
	line-height: 150%;
}

.container01 {
	padding: 20px 0;
}

/* 최근 배달지 탭의 배달지 리스트 */
.container01 .delivery_list {
	padding: 0;
}

.delivery_list>li {
	position: relative;
    margin-bottom: 20px;
    padding: 45px 50px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.delivery_list .addr, .delivery_list .nick {
    margin-right: 60px;
    font-size: 1.5rem;
}

.delivery_list .addr_old {
    margin-top: 7px;
}

.addr_old {
    font-size: 1rem;
    color: rgba(0,0,0,.5);
}

.addr_old .type {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 8px;
    font-weight: 700;
    font-size: .625rem;
    color: #fff;
    line-height: 100%;
    vertical-align: middle;
    background: #8d8d8d;
    border-radius: 2px;
}

.delivery_list .btn_detail {
    width: 85%;
}

.btn_detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -99999em;
    background: transparent;
}

/* .popWrap {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}

.m_FullpopWrap .popbox01 {
	background: #f2ebe6;
}

.popbox01, .popbox02 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 568px;
	max-height: 95%;
	margin-left: -284px;
	padding-bottom: 84px;
	overflow: auto;
	transform: translateY(-50%);
}

.popWrap .titleBar {
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}

.popWrap .titleBar .page_tit {
	height: 104px;
	margin: 0;
	padding: 20px 70px 20px 40px;
	font-size: 1.5rem;
	line-height: 63px;
	background: #fff;
}

.w_alignL {
	text-align: left!important;
}

.popbox01 .title_btn {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.popbox01 .title_btn button {
	width: 100px;
	height: 100%;
}

.popWrap .btn_close {
	position: absolute;
	right: 0;
	top: 0;
}

.btn_close {
	text-indent: -9999em;
	background: url(../../img/mypage/img_close.png) no-repeat 50%;
}

button {
	margin: 0;
	vertical-align: middle;
	border: none;
	overflow: visible;
	color: #000;
	padding: 0;
}

.popcont {
	max-height: 580px;
	overflow-y: auto;
}

#srchaddrPop {
	background: #f2ebe6;	
}

.nopadding {
	padding: 0!important;
} */

/*주소지 찾기 팝업*/

/* dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    font: font-family: 'S-CoreDream-5Medium';
    color: #000;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    cursor: pointer;
}

.popWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 100;
}

.m_FullpopWrap {
	font-size: 16px;
}
.m_FullpopWrap .popbox01 {
    background: #f2ebe6;
    height: 560px;
}

.popbox01, .popbox02 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 568px;
    max-height: 95%;
    margin-left: -284px;
    padding-bottom: 84px;
    background: #fff;
    overflow: auto;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.popWrap .titleBar {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.popWrap .titleBar .page_tit {
    height: 104px;
    margin: 0;
    padding: 20px 70px 20px 40px;
    font-size: 1.875rem;
    text-align: center;
    line-height: 63px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.w_alignL {
	text-align: left!important;
}

.w_alignL span {
	font-size: 30px;
}

.popbox01 {
	box-sizing: border-box;
	left: 646px;
	line-height: normal;
	
}

.popbox01 .title_btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.popbox01 .title_btn button {
    width: 100px;
    height: 100%;
}

.popWrap .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

.btn_close {
    width: 40px;
    height: 40px;
    text-indent: -9999em;
    background: url(../../img/mypage/img_close.png) no-repeat 50%;
}

.popcont {
    max-height: 580px;
    padding: 24px 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.srchaddrPop {
    background: #f2ebe6;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(242, 235, 230);
}

.nopadding {
    padding: 0!important;
}

.search_address {
    padding: 28px 38px 34px;
    background: #fff;
}

.searchWrap01:last-child {
    margin-bottom: 0;
}

.searchWrap01 {
    position: relative;
    margin-bottom: 8px;
    background: #fff;
}

.r_srch01.st02 {
    padding-right: 62px;
}

.r_srch01 {
    position: relative;
    padding-right: 166px;
}

.inpbox {
    position: relative;
}

.search_address .r_srch01 input {
    font-size: 1.375rem;
}

.inpbox input {
    width: 100%;
    padding: 0 25px 3px 5px;
    display: inline-block;
    height: 66px;
    margin: 0;
    vertical-align: middle;
    background: url(../../img/mypage/img_line2.png) repeat-x 0 100%;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    apperance: none;
    outline: none;
}

.inpbox button {
    width: 30px;
    height: 63px;
    margin: 0;
}

.inpbox button, .inpbox input~* {
    position: absolute;
    right: 0;
    top: 0;
}

.r_srch01 button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22px;
}

.btn_search02 {
    width: 54px;
    height: 54px;
    text-indent: -9999em;
    background: url(../../img/mypage/img_searchBtn2.png) no-repeat 50%;
}

.address_result {
    padding: 25px 38px 0;
    background: #f2ebe6;
}

.address_result .txt_result {
    margin-bottom: 17px;
    font-size: 15px;
}

.addr_searchguide .result_box {
    height: auto;
    padding: 34px 28px 6px;
}

.address_result .result_box {
    position: relative;
    height: 174px;
    padding: 13px 30px 16px;
    padding: 34px 28px 6px 28px;
    text-size-adjust: 100%;
    background: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
   	width: 492px;
   	background-clip: border-box;
   	box-sizing: border-box;
}

.addr_searchguide .result_box ul {
    font-size: 14px;
    overflow: hidden;
}

.addr_searchguide .result_box li {
    float: left;
    width: 50%;
    min-height: 67px;
    padding-bottom: 10px;
    font-size: 13px;
}

.addr_searchguide .result_box strong {
    display: block;
    margin-bottom: 5px;
}

li {
    list-style: none;
}

span {
	font-family: 'S-CoreDream-5Medium';
}

.address_result {
    padding: 25px 38px 0;
    background: #f2ebe6;
    font-stretch: 100%;
}

.address_result .txt_result {
    margin-bottom: 17px;
}

em {
    color: #e22219;
}
address, em {
    font-style: normal;
}

.result_box .nodata {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -1.3em;
    padding: 0;
    font-size: 1.25rem;
    color: #cacaca;
    line-height: 130%;
}

.board_paging {
    margin-top: 30px;
    text-align: center;
}

.pop_btn full_type {
	box-sizing: border-box;
	font-size: 15px;
	font-stretch: 100%;
	left: 0px;
	line-height: normal;
	margin: 0;
	overflow-wrap: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	position: absolute;
	right: 0px;
	text-size-adjust: 100%;
}

.pop_btn .button span {
	font-family: 'S-CoreDream-9Black';
	font-weight: bold;
}

.popWrap .btn02:only-child {
	max-width: 100%;
}

.btn02:only-child {
	width: 100%;
}

.btn02:disabled {
	color: #2e2e2e;
	background-color: #e5e5e5;
}

.pop_btn button {
	line-height: normal;
}

.pop_btn a, .pop_btn button {
	border-radius: 0;
}

.btn02, .btn02.red {
	display: inline-block;
	height: 84px;
	padding: 20px 10px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	background: #e22219 url(../../img/mypage/img_background2.png) repeat-x 0 0;
	background-size: auto 100%;
}

.m_ */