@charset "UTF-8";

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    font: font-family: 'S-CoreDream-5Medium';
    color: #000;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    cursor: pointer;
} 

/*주소지 찾기 팝업*/
.popWrap {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 100;
}

/* 주소검색 팝업+별칭 지정 팝업 */
.m_FullpopWrap .popbox01 {
    /* background: #f2ebe6; */
    background: #fff;
}

/* 팝업창 */
.popbox01, .popbox02 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 568px;
    max-height: 95%;
    margin-left: -284px;
    padding-bottom: 84px;
    background: #fff;
    overflow: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.poptxt01 {
	margin: 19px 0;
	font-size: 1.4rem;
	text-align: center;
	line-height: 120%;
}

.inpbox {
	position: relative;
}

.inpbox input {
	width: 100%;
	padding: 0 25px 3px 5px;
}

.page_count {
	margin-top: 10px;
	font-size: 16px;
	text-align: right;
}

.c_btn:last-child {
	margin-bottom: 0;
}

.c_btn {
	text-align: center;
}

.pop_btn.item2 a, .pop_btn.item2 button {
	box-sizing: border-box;
	float: left;
	width: 50%;
	margin: 0;
	font-size: 1.3rem;
}

.c_btn.item2 a, .c_btn.item2 button {
	box-sizing: border-box;
	float: left;
	width: 50%;
	/* width: calc(50% - 4px); */
	font-size: 1.3rem;
}

.btn02.dark, .btn02.st02 {
	background-color: #2e2e2e;
}

.pop_btn a, .pop_btn button {
    border-radius: 0;
}

.btn02, .btn02.red {
    display: inline-block;
    height: 84px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 1.625rem;
    color: #fff;
    text-align: center;
    line-height: 44px;
    /* background: #e22219 url(https://www.burgerking.co.kr/dist/img/bg_btn02_pattern.908362f6.png) repeat-x 0 0; */
    background: url(https://www.burgerking.co.kr/dist/img/bg_btn02_pattern.908362f6.png) repeat-x 0 0;
    background-size: auto 100%;
}

.btn02.red {
	background: #e22219 url(https://www.burgerking.co.kr/dist/img/bg_btn02_pattern.908362f6.png) repeat-x 0 0;
}




.popWrap .titleBar {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.popWrap .titleBar .page_tit {
    height: 104px;
    margin: 0;
    padding: 20px 70px 20px 40px;
    font-size: 1.875rem;
    text-align: center;
    line-height: 63px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.w_alignL {
    text-align: left!important;
}

.w_alignL span {
	font-size: 30px;
}

.popbox01 .title_btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.popbox01 .title_btn button {
    width: 100px;
    height: 100%;
}

.popWrap .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

.btn_close {
    width: 40px;
    height: 40px;
    text-indent: -9999em;
    background: url(../../img/mypage/img_close.png) no-repeat 50%;
}

.popcont {
    max-height: 580px;
    padding: 24px 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.srchaddrPop {
    background: #f2ebe6;
}

.nopadding {
    padding: 0!important;
}

.search_address {
    padding: 28px 38px 34px;
    background: #fff;
}

.searchWrap01:last-child {
    margin-bottom: 0;
}

.searchWrap01 {
    position: relative;
    margin-bottom: 8px;
    background: #fff;
}

.r_srch01.st02 {
    padding-right: 62px;
}

.r_srch01 {
    position: relative;
    padding-right: 166px;
}

.inpbox {
    position: relative;
}

.search_address .r_srch01 input {
    font-size: 1.375rem;
}

.inpbox input {
    width: 100%;
    padding: 0 25px 3px 5px;
    display: inline-block;
    height: 66px;
    margin: 0;
    vertical-align: middle;
    background: url(../../img/mypage/img_line2.png) repeat-x 0 100%;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    apperance: none;
    outline: none;
}

.inpbox button {
    width: 30px;
    height: 63px;
    margin: 0;
}

.inpbox button, .inpbox input~* {
    position: absolute;
    right: 0;
    top: 0;
}

.r_srch01 button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22px;
}

.btn_search02 {
    width: 54px;
    height: 54px;
    text-indent: -9999em;
    background: url(../../img/mypage/img_searchBtn2.png) no-repeat 50%;
}

.address_result {
    padding: 25px 38px 0;
    background: #f2ebe6;
    width: 490px;
}

.address_result .txt_result span {
    margin-bottom: 17px;
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
}

.address_result .result_box {
    position: relative;
    height: 362px;
    padding: 13px 30px 16px;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.address_result .result_box ul li {
	font-size: 13px;
}
	
.result_box ul li span {
	font-family: 'S-CoreDream-5Medium';
}

.addr_list .keyword {
    margin-bottom: 12px;
    font-size: 22px;
    color: #000;
    font-family: 'S-CoreDream-5Medium';
}

.addr_list p {
    margin-bottom: 5px;
    font-family: 'S-CoreDream-5Medium';
    font-size: 17px;
    word-spacing: -1px;
}

.addr_list li {
    position: relative;
    padding: 19px 0;
    font-size: 1.125rem;
    color: #8d8d8d;
}
/* 도로명 주소 */
.addr_list .txtbox02 {
    margin-right: 5px;
}

/* 지번주소 */
.txtbox02.st02 {
    min-width: 2.2em;
    height: 20px;
    font-size: .75rem;
    line-height: 20px;
}

/* 디테일 버튼 */
.btn_detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -99999em;
    background: transparent;
}

/* 지도보기 버튼 */
.btn04 {
	font-family: 'S-CoreDream-5Medium';
    display: inline-block;
    min-width: 3.5em;
    height: 36px;
    padding: 5px 10px;
    font-size: 1rem;
    color: #fff;
    background: #2e2e2e;
    border-radius: 5px;
}

.addr_list span {
	font-size: 15px;
	vertical-align: middle;
}

/* 지도보기 버튼 */
.addr_list .btn04 {
    position: absolute;
    right: 0;
    top: 19px;
}

.addr_searchguide .result_box {
    height: auto;
    padding: 34px 23px 6px;
    font-family: 'S-CoreDream-5Medium';
}

.addr_searchguide .result_box ul {
    font-size: .875rem;
    overflow: hidden;
}

.addr_searchguide .result_box li {
    float: left;
    width: 50%;
    min-height: 67px;
    padding-bottom: 10px;
}

.addr_searchguide .result_box strong {
    display: block;
    margin-bottom: 5px;
    font-family: 'S-CoreDream-9Black';
}

li {
    list-style: none;
}

.address_result {
    padding: 25px 38px 0;
    background: #f2ebe6;
}

.address_result .txt_result {
    margin-bottom: 17px;
    font-family: 'S-CoreDream-5Medium';
}

em {
    color: #e22219;
}
address, em {
    font-style: normal;
}

.result_box .nodata {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -1.3em;
    padding: 0;
    font-size: 1.25rem;
    color: #cacaca;
    line-height: 130%;
}



article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.board_paging li {
    display: inline-block;
    vertical-align: middle;
}

.VuePagination__count, .VuePagination__pagination-item-next-page, .VuePagination__pagination-item-prev-page {
    display: none!important;
}

.addr_detail>* {
    padding: 30px 38px;
}


/* 
.addrbox {
	box-sizing: border-box;
}
*/

.srchaddrPop .addrbox dl {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.srchaddrPop .addrbox dt {
    width: 2em;
    white-space: nowrap;
}

.srchaddrPop .addrbox dt, .srchaddrPop .resultaddr dd {
	display: table-cell;
}

.srchaddrPop .addrbox dd {
    padding-left: 15px;
    font-size: 24px;
    color: #898989; 
    letter-spacing: -1.5px; 
}

.srchaddrPop .addrbox dd span {
	font-family: 'S-CoreDream-5Medium';
}

.txtbox02 {
    height: 28px;
    padding: 0 7px;
    line-height: 28px;
    background: #8d8d8d;
    border-radius: 3px;
    font-size: 15px;
}

.txtbox01, .txtbox02 {
    display: inline-block;
    min-width: 3em;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.srchaddrPop .addrbox dl:last-child {
    margin: 0;
}


.inp_detail {
    background: #fff;
}

.inpbox {
	position: relative;
}


.addr_detail .inpbox input {
	height: 60px;
	font-size: 1rem;
}

.inpbox input {
	width: 100%;
	padding: 0 25px 3px 5px;
}

.inpbox input::placeholder {
	color: rgb(205,205,205);
	font-family: 'S-CoreDream-5Medium';
}

input[type=color], input[type=date], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=rang], input[type=search], input[type=tel], input[type=text], input[type=url] {
    display: inline-block;
    height: 66px;
    margin: 0;
    padding: 3px 10px 3px 4px;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    vertical-align: middle;
    background: url(../../img/mypage/img_input.png) repeat-x 0 100%;
    border: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}


.pop_btn.full_type {
    padding: 0;
}

input:focus-visible {
	outline-offset: 0px;
}

.inpbox button {
	width: 30px;
	height: 63px;
	margin: 0;
}

.inpbox button, .inpbox input~* {
	position: absolute;
	right: 0;
	top: 0;
}


.btn_del01 {
	text-indent: -9999em;
	background: url(../../img/mypage/img_deleteBtn.png) no-repeat 50%;
	background-size: 18px auto;
}

.addr_detail .chk_my {
	margin: 20px 0 0;
	font-size: 1rem;
}

label, label>span {
	vertical-align: middle;
}

.addr_detail .chk_my input {
	margin-right: 9px;
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    margin: 0;
    vertical-align: middle;
    font-size: 1em;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    opacity: 0;
}

input.check02+:before{
	width: 32px;
	height: 32px;
	background: url(../../img/mypage/img_check.png) no-repeat 0;
}

input.check02.chekimg+:before{
	width: 32px;
	height: 32px;
	background: url(../../img/mypage/img_checked.png) no-repeat 0;
}

input[type=checkbox]+:before, input[type=radio]+:before {
    content: "";
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
} 

input[type=radio]+:before {
	width: 25px;
    height: 25px;
}

.chk_my .check02 span {
	font-family: 'S-CoreDream-5Medium';
}

.pop_btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

.pop_btn.full_type button span {
	font-size: 26px;
}

.popWrap .btn02:only-child {
    max-width: 100%;
}

.btn02:only-child {
    width: 100%;
    max-width: 450px;
}

.btn02:disabled {
    color: #2e2e2e;
    background-color: #e5e5e5;
}

.pop_btn button {
    line-height: normal;
}

.pop_btn a, .pop_btn button {
    border-radius: 0;
}

.btn02, .btn02.red {
    display: inline-block;
    height: 84px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 1.625rem;
    color: #fff;
    text-align: center;
    line-height: 44px;
    background: #e22219 url('https://www.burgerking.co.kr/dist/img/bg_btn02_pattern.908362f6.png') repeat-x 0 0;
    background-size: auto 100%;
    font-family: 'S-CoreDream-9Black';
}

.sub_popWrap {
    width: 100%;
    background: #fff;
    z-index: 50;
}

.sub_popWrap, .sub_popWrap .popbox01 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.m_FullpopWrap .popbox01 {
    background: #f2ebe6;
}

.sub_popWrap .popbox01 .M_headerWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.popWrap .titleBar {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.popWrap .titleBar .page_tit {
    height: 104px;
    margin: 0;
    padding: 20px 70px 20px 40px;
    font-size: 1.875rem;
    text-align: center;
    line-height: 63px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popbox01 .title_btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.sub_popWrap .popbox01 .popcont {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.map {
	width: 100%;
    height: 100%;
}


/**/
ul {
	display: block;
	list-style: none;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    color: #000;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.board_paging {
    margin-top: 30px;
    text-align: center;
    height: 36px;
}

.board_paging a {
    display: inline-block;
    min-width: 1.5em;
    height: 36px;
    padding: 0 3px;
    font-size: 1rem;
    line-height: 36px;
    text-align: center;
    font-family: 'S-CoreDream-5Medium';
}

.VuePagination{
	width: 100%;
	height: 36px;
}

.VuePagination__pagination-item-next-chunk a, .VuePagination__pagination-item-prev-chunk a {
    width: 38px;
    margin: 0 27px;
    text-indent: -999em;
    text-align: left;
}

.VuePagination__count, .VuePagination__pagination-item-next-page, .VuePagination__pagination-item-prev-page {
    display: none!important;
}

.VuePagination__pagination-item-prev-chunk a {
    background: url(../../img/mypage/img_paging_prev.png) no-repeat 50%;
}

.VuePagination__pagination-item-next-chunk a {
    background: url(../../img/mypage/img_paging_next.png) no-repeat 50%;
}

.board_paging .active a, .board_paging .cur a {
    font-weight: 700;
}