@charset "UTF-8";

.contentsWrap {
	min-height: 450px;
	margin: 0 auto;
}

.contentsBox01 {
    padding: 50px 0 45px;
    background-color: #f2ebe6;
}

.web_container {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
}

.subtitWrap {
    position: relative;
    margin-bottom: 26px;
}

.contentsWrap .page_tit {
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 100%;
}

.page_tit {
	font-family: 'S-CoreDream-9Black';
	font-size: 2.25rem;
}

.subtitWrap .r_option {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 15em;
    font-size: 1.25rem;
}

.txt01 {
    margin: 5px 0;
    font-size: 1.125rem;
}

em {
    color: #e22219;
}

address, em {
    font-style: normal;
}

.container01 {
    padding: 20px 0;
}

.nodata, .nodata .tit {
    font-size: 1.5rem;
    line-height: 150%;
}

.nodata {
    padding: 370px 10px 10px;
    color: #766e69;
    text-align: center;
    background: url(https://www.burgerking.co.kr/dist/img/ico_nodata01.26f01a61.png) no-repeat center 150px;
    z-index: 10;
}

.coupon_list {
    padding-top: 26px;
    overflow: hidden;
    
    /* 추가 */
    min-width: 1130px;
}

.coupon_list+.c_btn {
    margin-top: 14px;
}

.c_btn:last-child {
    margin-bottom: 0;
}

.c_btn {
    margin: 40px 0 80px;
    text-align: center;
    overflow: hidden;
}

.btn01 {
    display: inline-block;
    width: 256px;
    height: 68px;
    font-size: 1.5rem;
    padding: 12px 10px 10px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 46px;
    background: url(https://www.burgerking.co.kr/dist/img/bg_btn01_normal.192da552.png) no-repeat 50%;
    background-size: 100% 100%;
    border-radius: 0;
}

a.more>*, button.more>* {
    position: relative;
    padding-right: 38px;
}

/* 쿠폰 리스트 스타일 */
.coupon_list>.couponLi {
	list-style: none;
	/* background-color: #fff; */
	width: 48%;
	float: left;
	
	/* 추가 */
	min-width: 530px;
}

.coupon_list>li:nth-child(odd) {
	clear: both;
}

.coupon_list>li:nth-child(2n) {
    float: right;
}

.mycoupon {
	height: 250px;
	background-color: #fff;
}

.coupon_detail {
	float: left;
	border-right: #d3d3d3 dashed;
	width: 75%;
	margin-top: 10%;
	margin-left: 3%;
}

.coupon_img {
	float: left;
}
.coupon_img img {
	width: 200px;
}

.coupon_cont {
	float: left;
	margin-right: 10%;
	font-size: 20px;
	font-family: 'S-CoreDream-9Black';
}

.coupon_price {
	float: right;
	font-size: 19px;
    margin-top: 10%;
    margin-right: 5%;
    font-family: 'S-CoreDream-9Black';
}

.coupon_cont {
	float: right;
}

.coupon_cont p:nth-child(1) {
	font-size : 22px;
}

.coupon_cont p:nth-child(2) {
	font-size : 16px;
	/* font-family: 'S-CoreDream-5Medium'; */
}

.coupon_price p:nth-child(1) {
	color: #d3d3d3;
	text-decoration: line-through;
}

.coupon_price p:nth-child(2) {
	color: #E22219;
}


/* 반응형 */

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait)
{
	.contentsBox01 {
    padding: 0!important;
	}
	
	.web_container, .web_container02 {
    min-width: 320px;
    padding: 0;
}

	.subtitWrap {
    min-height: 56px;
    margin: 0;
    padding: 20px 0 10px;
    background: #fff;
}

	.m_bg_basic {
    background: #f2ebe6!important;
}

	.subtitWrap .page_tit {
    margin: 0;
    padding: 0 16px 10px;
    font-size: 1.5rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

	.subtitWrap .r_option.txt01 {
    margin: 5px 0 0 16px;
    font-size: .625rem;
}

.subtitWrap .r_option {
    position: static;
    margin: 15px 16px 0;
    font-size: .75rem;
}

.txt01 {
    margin: 5px 0 7px;
    font-size: .625rem;
}

.subtitWrap .r_option.txt01 em {
    font-weight: 400;
}

.subtitWrap+.container01 {
    padding-top: 0;
}

.container01:last-child {
    padding-bottom: 23px;
}

.container01 {
    padding: 16px;
}

.nodata {
    padding: 172px 10px 10px;
    font-size: .875rem;
    line-height: 130%;
    text-align: center;
    color: #9a918c;
    background: url(https://www.burgerking.co.kr/dist/img/ico_nodata01.26f01a61.png) no-repeat center 60px;
    background-size: 89px auto;
    z-index: 10;
}

.coupon_list {
    padding: 0;
}

.c_btn {
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
}

.btn01 {
    width: auto;
    min-width: 158px;
    font-size: 1.125rem;
    background-size: 100% 100%!important;
}

.btn01, .btn01.m {
    height: 48px;
    line-height: 26px;
}

a.more>*, button.more>* {
    padding-right: 21px;
}

/* 추가 */

.coupon_list {
	text-align: center;
}

.coupon_list>li:nth-child(2n) {
    float: none;
}

.coupon_list>li:nth-child(2n) {
    float: none;
}

.coupon_list>.couponLi {
	float: none;	
	height: 200px;
	margin-bottom: 1rem;
}

.mycoupon {
	height: 200px;
}

.web_container {
	overflow: hidden;
}
	
}

