@charset "UTF-8";


/* 폰트 */
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: all;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: all;
     font-style: normal;
}

/* rem 기준 */
html {
	font-size: 20px;	
}

/* 본문 전체 폰트 적용 */
body * {
	font-family: 'S-CoreDream-9Black';
}

body {
	word-break: keep-all;
	word-wrap: normal;
}

/* 먹색 영역 스타일 시작  */

body {
	padding: 5rem 0 0;	/* 이 부분은 헤더 포함시킨 후 삭제하기 */
	font-size: 1rem;
	margin: 0;			/* 전체화면 너비 차지할 수 있도록 */
}

body a {
	text-decoration: none;
}

/* 먹색 영역 전체 감싸는 영역 */
/* 배경색 적용, 높이 적용 */
.order_container {
	background: rgb(46,46,46);
	height: 6.2rem;		/* 124px */
	background: url(../../img/mypage/img_background.gif) repeat-x top;
	min-width: 975px;
}

/* 리스트 감싸는 영역 */
.order {
	width: 87%;			/* 970px 이상에서는 87% 크기 유지 */
	height: 124px;
	max-width: 1144px;
	margin: 0 auto;		/* 가운데 정렬 */
	padding: 0 1rem;
	
}

.order .order_wrapper {
	position: relative;
	height: 100%;
}

.order .order_wrapper .my-delivery {
	position: absolute;
	left:0;
	top: 25%;
	width: 16%;
	height: 3.4rem;
	min-width: 276.39px;
	padding-left: 110px;
	color: rgb(255,255,255);
	background: url(../../img/mypage/img_delivery.png) no-repeat 0;
}

.order .order_wrapper .my-cart {
	position: absolute;
	right: 0;
	top: 25%;
	width: 33%;
	padding-left: 95px;
	color: rgb(255,255,255);
	background: url(../../img/mypage/img_cart.png) no-repeat 0;
}

.my-delivery>dl, .my-cart>dl {
	margin: 0;
	font-weight: 700;
}

.my-delivery>dl>dd, .my-cart>dl>dd {
	margin: 0;
	margin-top: 0.5rem;
	font-family: 'S-CoreDream-5Medium';
	font-weight: 400;
	font-size: 0.9rem;
}

.order_wrapper:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	width: 3px;
	height: 100%;
	margin-left: -1.5px;
	background: url(../../img/mypage/img_line.png) no-repeat 50%;
}

/* .order ul {
	display: flex;		자식인 li는 행배치됨
	justify-content: space-between;
	list-style: none;		
}

.order ul li {
	flex: 1;			li들의 크기는 동일
	position: relative;
	padding: 0 0 0 1.5rem;
	background: url(/resources/img/mypage/img_delivery.png) no-repeat left;
}

li 사이에 선 추가(모든 li요소 앞에 선 추가)
.order ul li:before {
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	height: 100px;
	border-left: 1px solid rgb(255,255,255);
}

li 사이에 선 추가(첫 번째 li 앞에는 선 추가되지 않게)
.order ul li:first-child:before {
	content:"";
	border-left: 0;
}

.order ul li strong {
	font-size: 1.25rem;
	color: rgb(255,255,255);
	padding-left: 6rem;
}

.order ul li p {
	font-size: 1rem;
	color: rgb(255,255,255);
	padding-left: 6rem;
}

.order ul li:nth-child(1) {
	background: url("../../img/mypage/img_delivery.png") no-repeat left top;
}

.order ul li:nth-child(2) {
	background: url("../../img/mypage/img_cart.png") no-repeat left 0.2rem top;
} */


/* 까만 영역 스타일 시작 */

/* 배경, 글씨색 지정 */
.loc_container {
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	height: 1.9rem;
	min-width: 975px;
	padding: 0.5rem 0;
	font-family: 'S-CoreDream-5Medium';
	font-weight: 400;
	font-size: 0.8rem;
}

.loc_container .loc {
	/* display: flex;		자식 div 행배치
	justify-content: space-between;	양 끝에 위치시킴	*/
	height: 1.9rem;
	width: 91%;			/* 너비는 91%, 패딩 양 옆 20px씩 주고 나머지 넓이는 양 옆 마진으로 똑같이 */
	max-width: 1144px;
	margin: 0 auto;
	padding: 0 1rem;
}

.loc_container .loc .page-navi {
	/* padding-left: 4rem; */
	float: left;
	height: 38px;
}

.loc_container .loc .page-navi a {
	/* position: relative; */
	float: left;
}

.loc_container .loc .page-navi a::before {
	/* position: absolute;
	left: 0;
	top: 0; */
	content:"";
	background: url(../../img/mypage/img_arrow2.gif) no-repeat 50%;
	margin: 0 12px;
	width: 4px;
	float: left;
	height: 38px;
}

.loc_container .loc .page-navi a:first-child:before {
	content:"";
	margin: 0;
	width: 0;
}

.page-navi span {
	line-height: 38px;
}

.loc_container .loc .location {
	/* padding-right: 4rem; */
	float: right;
	height: 38px;
}

.location span {
	line-height: 38px;
}

.location {
	background: url(../../img/mypage/img_location.png) no-repeat 0;
	padding-left: 22px;
}

.location .addr{
	width: 9%;
}

.location .btn {
	width: 4%;
	height: 34px;
	margin-left: 20px;
}

.location .btn a {
	display: inline-block;
	background-color: white;
	color: black;
	border-radius: 5px;
	width: 56px;
	/* height: 34px; */
	align-content: center;
	text-align: center;
}



/* 하얀색 영역 (배달지 검색) */

/* 전체 감싸는 영역(위아래 여백) */
.search_box {
	height: 132px;
	padding: 50px 0 45px 0;
	min-width: 960px;
}

/* 감싸는 영역(양 옆 여백) */
.search_container {
	height: 132px;
	max-width: 760px;
	margin: 0 auto;
	padding: 0 8px;
}

/* 검색 타이틀 영역 */
.search_container .search_title {
	margin-bottom: 26px;
}

/* 검색 타이틀 */
.search_container .search_title h2 {
	margin: 0;
	font-size: 2rem;
	font-weight: 900;
}

/* 검색창 영역 */
.search_wrap .search {
	padding-right: 166px;
	position: relative;
}

/* 검색창 */
.search_inp input {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;		/* border포함한 사이즈로 (밑줄 위치 맞추기) */
	padding: 0 25px 3px 5px;
	height: 66px;
	font-size: 1.1rem;
	vertical-align: middle;
	background: url(../../img/mypage/img_line2.png) repeat-x 0 100%;
	border: none;
	appearance: none;
	outline: none;		/* 입력할 때 인풋 박스 테두리 제거 */
}

/* 검색 버튼 */
.search_btn {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -22px;
	width: 134px;
	height: 44px;
	color: #fff;
	background: #2e2e2e;
	border-radius: 5px;
	border: none;
	text-align: center;
}

/* 검색 버튼 텍스트 + 검색 이미지 */
.search_btn span {
	padding-right: 28px;
	background: url(../../img/mypage/img_searchBtn.png) no-repeat 100%;
}


/* 베이지색 영역 시작 */

/* 전체 감싸는 영역 - 위아래 여백, 배경색, 높이 지정 */
.contents_box {
	padding: 50px 0 45px;
	background-color: #f2ebe6;
	height: 510px;
	min-width: 960px;
}

.contents_container {
	margin: 0 auto;
	padding: 0 8px;
	height: 510px;
	max-width: 760px;
}

.contents_wrap {
	padding-top: 54px;
	position: relative;
	height: 456px;
}

.contents_wrap .tab_tit {
	margin-bottom: 20px;
	height: 54px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	overflow: auto;
}

.tab_tit ul {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 54px;
}

.tab_tit ul li:first-child {
	padding-left: 0;
}

.tab_tit ul li {
	position: relative;
	display: table-cell;
	padding: 0 18px;
	vertical-align: top;
	white-space: nowrap;
}

.tab_tit ul li.on a, .tab_tit li.on button {
	color: #e22219;
	border-bottom-color: #e22219;
}

.tab_tit button {
	height: 54px;
	padding: 5px 0;
	vertical-align: middle;
	margin: 0;
	background: 0;
	overflow: visible;
}

.tab_tit a, .tab_tit button {
	display: inline-block;
	font-size: 1.05rem;
	color: #b8b8b8;
	border: 0 solid transparent;
	border-width: 4px 0;
}