@charset "UTF-8";

/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/*공통요소*/
a, div, li {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    color: #000;
    /* background: #f2ebe6; */
    word-wrap: normal;
    word-break: keep-all;
}

body, html {
    height: 100%;
    min-height: 450px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

html{
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1em;
}

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
.tab_cont{
	max-width: 80%;
	margin: 0 auto;
}
.hide {
    font-family: 'S-CoreDream-9Black';
    font-size: 2rem;
}

.board_list {
    padding-bottom: 75px;
}

.tlist01 {
    border-bottom: 2px solid #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

.tlist01 thead tr {
    background: #fafafa;
    border: 0 solid #000;
    border-width: 2px 0;
    border-bottom-color: #e5e5e5;
}

.tlist01 thead th {
    height: 50px;
    font-size: 1.25rem;
    text-align: center;
    font-family: 'S-CoreDream-5Medium';
}

.tlist01 tbody td, .tlist01 tbody th {
    height: 30px;
    padding: 10px;
    font-size: 1.125rem;
    text-align: center;
    vertical-align: middle;
    font-family: 'S-CoreDream-5Medium';
}

button, table td, table th {
    padding: 0;
}

.tlist01 a {
    display: block;
    text-align: center;
}

.btn_list {
		
	width: 200px;
	height: 60px;
	background: url("../../img/cs/listB.png") no-repeat;
	background-size: 200px 
	padding: 0;
	border: 0;
	font-family: 'S-CoreDream-9Black';
	font-size: 1.25rem;
	color: white;
}

.btn_flock{
	text-align: center;
}