@charset "UTF-8";
/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     
}

.deleteTitle>p{
	font-size: 1.5rem; 
	font-family: 'S-CoreDream-5Medium';
}


.btn_list {
		
	width: 200px;
	height: 60px;
	background: url("../../img/cs/listB.png") no-repeat;
	background-size: 200px 
	padding: 0;
	border: 0;
	font-family: 'S-CoreDream-9Black';
	font-size: 1.25rem;
	color: white;
}