@charset "UTF-8";
/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     
}

/*공통 요소*/
html {
	font-size: 16px;
}
dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}
body{
	min-height: 100%; 
	color: #000; 
	background: #f2ebe6; 
	word-wrap:normal; 
	word-break: keep-all;
	margin: 0;
}

a, div, li {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    margin: 0;
    color: #000;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
li {
    list-style: none;
}

/*문의 시작*/

.hide {
    position: absolute!important;
    left: -10000px;
    top: -10000px;
    visibility: hidden;
}

.eventWrap .contentsBox01 {
    padding: 50px 0 120px;
}

.web_container{
	max-width: 1184px; 
	margin: 0 auto;
	padding: 0 20px;
}

.bg_w {
    background: #fff;
}

.contentsBox01 {
    padding: 50px 0 45px;
}


.CS_intro {
    margin-top: -17px;
    padding: 0;

}

.CS_intro .help_infotxt {
    height: 435px;
    padding: 70px 600px 0 0;
    font-size: 1.125rem;
    line-height: 156%;
    background: url(https://www.burgerking.co.kr/dist/img/bg_CS.c6388a10.jpg) no-repeat 100% 100%;
    word-wrap: normal;
    word-break: keep-all;
    font-family: 'S-CoreDream-5Medium';
    
}

.CS_intro .tit {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 3rem;
    color: #773a2c;
    line-height: 112.5%;
    font-family: 'S-CoreDream-5Medium';
}

.CS_intro .tit>span {
    display: block;
}

.help_info {
	position: relative;
    padding: 46px 495px 42px 0;
    color: #2e2e2e;
}

.help_info dl {
    padding-left: 190px;
    font-size: 1.125rem;
    background: url("../../img/cs/qna3.jpg") no-repeat 11px 1px;
}    
.help_info dt {
    font-weight: 700;
    font-family: 'S-CoreDream-9Black';
    letter-spacing: -1px;
}

.help_info dd {
    margin: 13px 0;
}

dd>div>strong{
	font-family: 'S-CoreDream-9Black';
    letter-spacing: -1px;
}
dd>p{
	font-family: 'S-CoreDream-5Medium';
	letter-spacing: -1px;
}

/*둘 사이 간격 띄워줌 (대표 소비자 상담/ 온라인 문의)*/
.help_info dl+dl {
    margin-top: 50px;
}

/*온라인 문의*/

.help_info .cs_email {
    background-image : url("../../img/cs/qna4.jpg");
}

.help_info .cs_email .btn_area {
    margin-top: 15px;
}

.help_info ul {
	position: absolute;
	right: 0;
	top: 50%;
	padding-left: 54px;
	margin-top: -128px;
	font-size: 1.125rem;
	border-left: 1px solid #d9d3cf;
}

.help_info li:first-child {
    margin: 0;
}  

.help_info li {
    position: relative;
    margin-top: 60px;
    padding-left: 85px;
    font-family: 'S-CoreDream-5Medium';
}

.help_info li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 62px;
    height: 62px;
    margin-top: -31px;
    background: url("../../img/cs/qna_service.jpg") no-repeat 0;
}

.help_info li>* {
    display: block;
}

.help_info li>strong {
    margin-top: 5px;
   	font-family: 'S-CoreDream-5Medium';
   	font-size: 1rem;
   	letter-spacing: -1px;
}

.help_info li.shop:before {
	background-image: url("../../img/cs/qna_shop.jpg");	
}

.help_info li.proposal:before {
    background-image: url("../../img/cs/qna_proposal.jpg");	
}
