@charset "UTF-8";
/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
.faq_category{
	height: 48px;
	margin-bottom: 24px;
}
/*faq-kind 라벨 */
.faq_category label{
	float: left;
	margin-right: 9px;
}
/*faq kind label 디자인*/
.switch01{
	position: relative; 
	display: inline-block;
	font-weight: 700; 
	cursor: pointer;
}
/*faq-kind 버튼 선택되었을 때  */
.switch01 input:checked+*{
	background: #2e2e2e;
}
/*faq-kind 버튼 */
.switch01 input+*{
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	font-size: 1.25rem;
	color: #fff;
	background: #8d8d8d;
	text-align: center; 
	line-height: 38px;
	border-radius: 5px;	
	box-sizing: border-box;
}
/*input박스 라디오 버튼 없애기*/
.switch01 input[type=radio] {
	display: none;
}
.switch01 span{
	font-family: 'S-CoreDream-9Black';
}
table{
	width: 100%;
	border-collapse:collapse;
	border-bottom : 2px solid #000;
}
/*FAQ 테이블 헤더*/
.flist01 thead th{
	font-family: 'S-CoreDream-9Black';
	height: 50px;
	font-size: 1.25rem;
	text-align: center;
	border-top: 2px solid #000;
	border-bottom : 2px solid #E5E5E5;
	background: #FAFAFA;
}
.flist01{
	border-bottom : 2px solid #000;
}

/*FAQ 버튼*/
button{
	margin: 0; 
	border: none;
	overflow: visible;
	cursor: pointer;
	background: 0;
	
}

.acc_tit {
	position: relative;
	/* 해당 요소의 자식 요소를 양 옆 끝으로 배치 (span, btn) */
	display: flex;
	justify-content: space-between;
}

.btn_acc{
	/* position: absolute; */
	/* left:0;
	top: 0; */
	width: 20px;
	height: 20px;
	background: url("../../img/cs/faq_btn.png") no-repeat;
	text-indent: -9999em;
	background-size: 15px auto;
	transition: all ease 0.7s;
	
}
.btn_acc:after{
	content: "";
	position: absolute; 
	top:50%;
	width:20px;
	height:20px;
	margin-top: -10px; 
	border: 0; 
	
}
.open .btn_acc{
	-webkit-transform: rotate(180deg);
	margin-right: 1%;

}
/*FAQ 테이블 no, 구분, 제목*/
.flist01 tbody td {
	height: 56px; 
	padding: 10px;
	font-size: 1.125rem; 
	text-align: center;
	vertical-align: middle;
	font-family: 'S-CoreDream-5Medium';
}

/*FAQ content 숨기기*/
.acc_cont{
	display: none;
	
}
.acc_cont .text_area{
	height: 0;
}
/*FAQ의 제목이 선택되었을 때 content를 감싸는 tr의 클래스가 show로 변경됨*/
.show{
	display: table-row;
	background: #FAFAFA;
}
.text_area{
	padding: 0 60px;
}

/*페이징 디자인*/
.text{
	text-align: center; 
}
.page a{
	height: 36px; 
	padding: 0 3px; 
	font-size: 1.25rem;
	font-family: 'S-CoreDream-5Medium';
	text-decoration: none; 
	color : #000;
	min-width: 1.5em;
}
