@charset "UTF-8";
/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

html {
	font-size: 16px;
}

body{
	min-height: 100%; 
	color: #000; 
	background: #f2ebe6; 
	word-wrap:normal; 
	word-break: keep-all;
	margin: 0;
}

div{
	display: block;
}
/*안보이게 할거면 왜 자꾸 태그를 넣는지 모르겠다 코드 보기 쉬우라고인가*/
.hide{
	display: none;
}
.web_container{
	box-sizing: border-box;
	max-width: 1184px; 
	margin: 0 auto;
	padding: 0 20px;
}
/*모집 설명 div 배경색*/
.bg_w{
	background: #fff;
}

/*모집 설명 div class*/
.contentsBox01{
	padding : 50px 0 120px; 
}
/*모집 설명 div class*/
.branch_intro01{
	padding: 0;
	font-size : 1.25rem; 
	line-height : 160%;
	border-bottom: 3px solid #6e3d2f;
}
.branch_intro01 .msgbox{
	width: 50%;
	line-height: 160%;
}

.msgbox p {
	font-size: 1.25rem;
}

/*TASTE IS KING 글씨*/
.branch_intro01 .keyowrd{
	width: 572px;
	height: 67px; 
	margin-bottom: 30px;
	text-indent: -99999em;
	background: url(https://www.burgerking.co.kr/dist/img/txt_king01.f0a5e6ba.jpg) no-repeat;
}
/*버거킹 ~ 성공 준비 글씨*/
.branch_intro01 .tit{
	margin: 35px 0 20px; 
	font-weight: 700; 
	font-size: 2.275rem; 
	line-height: 116%;
	font-family: 'S-CoreDream-9Black';
}
h5.tit{
	width: 572px;
	height: 88px;
	letter-spacing: -0.9px;
}
/*div박스 배경 가게 이미지*/
.branch_intro01 .web_container{
	height: 458px; 
	padding-top: 17px;
	background: url(https://www.burgerking.co.kr/dist/img/bg_branch.145865e0.jpg)no-repeat 100% 100%;
}
.container01{
	padding: 0 20px;
}
/*버거킹 글 설명*/
.msgbox p { 
	margin: 0;
	font-family: 'S-CoreDream-5Medium';
	width: 610px;
	letter-spacing: -1.3px;
}







/*2번째 설명 부분*/
.branch_intro02 .web_container.container01{
	margin: 0 auto;
	max-width: 1184px;
	padding: 20px 16px;
}
.branch_intro02 .msgbox{
	overflow: hidden;
}
/*title*/
.branch_intro02 .msgbox .tit{
	font-weight : 700;
	font-size: 3rem;
	line-height: 125%;
	font-family: 'S-CoreDream-9Black';
	float : left;
}
p.WEB.tit{
	/* width: 576px; */
	width: 50%;
	float: left;
}

.branch_intro02 .msgbox .tit span {
    display: block;
}
.branch_intro02 .msgbox>* {
	
	width: 50%;
}


/*설명*/
.branch_intro02 .msgbox .txt{
	/* width: 610px; */
	box-sizing: border-box;
	width: 50%;
	float: right;
	padding-left: 10px; 
	line-height: 160%;
	font-family: 'S-CoreDream-5Medium';
	-webkit-text-size-adjust: none;
	font-stretch: 100%;
}

.branch_intro02 .msgbox .txt p{
    margin-bottom: 25px;
    font-size: 1rem;
    width: 100%;
    letter-spacing: -0.9px;
}




/*입지조건, 임대 면적 박스*/
dt {
    display: block;
}
.branch_intro02 .condition{
	position: relative;
	height: 330px;
	margin-top: 70px;
	padding: 59px 65px; 
	background: #fff url("../../img/cs/franchise.jpg") no-repeat 100% 0; 
	overflow: hidden;
}
.branch_intro02 .condition:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 100%; 
	background: #fff url("../../img/cs/franchise_before.jpg");
}

/*입지조건 내용 전체*/
.branch_intro02 .condition>* {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.branch_intro02 .condition .txtlist01 {
    margin: 0;
    padding-left: 65px;
    line-height: 175%;
   	font-family: 'S-CoreDream-5Medium';
}
.txtlist01 li {
    position: relative;
    padding-left: 12px;
}


/*입지조건 아이콘*/
.branch_intro02 .condition .tit_ico{
	margin-bottom: 12px; 
	padding-left: 65px;
	font-size: 1.625rem;
	font-family: 'S-CoreDream-9Black';
}
.tit_ico:first-child {
	margin-top: 0;
}
.tit_ico{
	position: relative;
	line-height: 40px;
}
.tit01{
	margin: 45px 0 17px; 
	font-weight: 700; 
	color: #2e2e2e;
}

/*아이콘 이미지 붙이기 위한 요소들*/
.tit_ico:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0;
}
/*입지조건 아이콘*/
.branch_intro02 .condition .tit_ico.location:before{
	background-image: url("../../img/cs/location.png");
}
/*임대면적 아이콘*/
.branch_intro02 .condition .tit_ico.king:before {
    background-image: url("../../img/cs/store.png");
}
