@charset "UTF-8";

/*폰트 적용*/
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

html {
	font-size: 16px;
	font-family: 'S-CoreDream-5Medium';
}

body {
	color: #000;
	word-wrap: normal;
	word-break: keep-all;
	min-height: 100%;
	background: #f2ebe6;
}

body, html {
	height: 100%;
	min-height: 450px;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

body * {
	/* font-family: 'S-CoreDream-5Medium'; */
}

a, div, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	font-size: 1em;
}

h4 {
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

li {
	list-style: none;
}

button {
    margin: 0;
    font: normal 1em HGG,Malgun Gothic,"\B9D1\C740 \ACE0\B515",dotum,"\B3CB\C6C0",sans-serif;
    color: #000;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    cursor: pointer;
    
    /* 추가 */
    font-family: 'S-CoreDream-9Black';
}

button, table td, table th {
    padding: 0;
}

em {
	color: #e22219;
}

address, em {
	font-style: normal;	
}

img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}

img {
	border: none;
}

label, label>span {
	vertical-align: middle;
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    margin: 0;
    vertical-align: middle;
    font-size: 1em;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    opacity: 0;
}




/* ***메뉴판 전체 영역*** */
.contentsWrap {
	min-height: 450px;
	margin: 0 auto;	
}

/* ***까만 상단 영역*** */
/* 아직 안 넣음 */


/* ***메뉴판 영역*** */

/* 전체 감싸기 */
.contentsBox01 {
	padding: 50px 0 45px;		/* (위아래 여백) */
	
	/* 추가 */
	font-family: 'S-CoreDream-9Black';		/* 메뉴명, 가격 굵게 */
}

.bg_w {
	background: #fff;
}

/* 내용 감싸기 */
.web_container {				/* (위아래 여백) */
	max-width: 1184px;
	margin: 0 auto;
	padding: 0 20px;
}

/* 메뉴/카테고리 */
.subtitWrap {
	position: relative;
	margin-bottom: 26px;
}

.contentsWrap .page_tit {	/* '메뉴' */
	margin-bottom: 15px;
	font-size: 2.5rem;
	line-height: 100%;
}

.subtitWrap .tab01 {		/* 카테고리 */
	position: absolute;
	right: 0;
	top: 50%;
	margin: -17.5px 0 0;
}

.tab01 {
	overflow: auto;
}

.tab01 ul {
	display: table;
}

.tab01 li:first-child {
	padding-left: 0;
}

.tab01 li {
	position: relative;
	display: table-cell;
	padding: 0 18px;
	vertical-align: top;
	white-space: nowrap;
	
	/* 추가 */
	/* letter-spacing: -100px; */
}

.sustitWrap .tab01 button {
	height: 35px;
	font-size: 1.125rem;
	border-width: 3px 0;
}

.tab01 button {
	height: 54px;
	padding: 5px 0;
	
	/* 추가 */
	font-size: 1rem;
	/* 아니 글씨 크기 왜 안 먹어... 너무 큰데...ㅜㅜ */
	/* 카테고리 굵은 글씨 */
	font-family: 'S-CoreDream-9Black';
}

.tab01 button>* {
	font-size: 1.1rem;
	letter-spacing: -1px;
}

.tab01 a, .tab01 button {
	display: inline-block;
	padding: 10px 1px;
	font-weight: 700;
	font-size: 1.375rem;
	color: #b8b8b8;
	border: o solid transparent;
	border-width: 4px 0;
}

.tab01 a>*, .tab01 button>* {
    vertical-align: middle;
}

/* 선택한 카테고리 */
.tab01 li.on a, .tab01 li.on button {
	color: #e22219;
	border-bottom-color: #e22219;
}

/* 메뉴판 */

.hide {
	position: absolute!important;
    left: -10000px;
    top: -10000px;
    visibility: hidden;
}

/* 데이터 없는 경우 */
.bg02 .nodata, .bg_w .nodata {
	color: silver;
	background: url(https://www.burgerking.co.kr/dist/img/ico_nodata01_type02.e0a98f2b.png);
}

.nodata, .nodata .tit {
	font-size: 1.5rem;
	line-height: 150%;
}

.nodata {
	padding: 370px 10px 10px;
    color: #766e69;
    text-align: center;
    /* 이 부분 이미지 따오는 게 안 돼서 위에 이미지랑 동일한 거로 넣어놨습니당 */
    background: url(https://www.burgerking.co.kr/dist/img/ico_nodata01_type02.e0a98f2b.png) no-repeat center 150px;
    z-index: 10;
}

/* 메뉴 리스트 */
.prdmenu_list {
	margin-top: 60px;
	padding-bottom: 46px;
	overflow: hidden;
}

.prdmenu_list li {		/* each 메뉴 */
	position: relative;
    float: left;
    width: 25%;
    margin-bottom: 8px;
    
    /* 혜린 추가 */
    /* 높이 없으니까 이름 긴 메뉴 밑에는 빈 칸으로 나와서 추가함! */
    /* max-height: 259px; */
}

.prdmenu_list .prd_img {	/* 메뉴 이미지 */
	max-width: 220px;
    height: 144px;
    margin: 0 auto;
    overflow: hidden;
}

.prd_mig {
	position: relative;
}

/* NEW / BEST / null */
.ico_flag_best {
	position: absolute;
    left: 0;
    top: 0;
    width: 49px;
    height: 35px;
    text-align: left;
    text-indent: -9999em;
	background-image: url(../../img/menu/img_best.png);
}

.ico_flag_new {
    position: absolute;
    left: 0;
    top: 0;
    width: 49px;
    height: 35px;
    text-align: left;
    text-indent: -9999em;
 	background: url(../../img/menu/img_new.png) no-repeat 0;
}

/* best 이미지가 안 먹어서 아예 둘로 나눔 */
/* .ico_flag_best, .ico_flag_new {
    position: absolute;
    left: 0;
    top: 0;
    width: 49px;
    height: 35px;
    text-align: left;
    text-indent: -9999em;
 	background: url(../../img/menu/img_new.png) no-repeat 0;
} */

.prdmenu_list .prd_img img {
	width: 100%;
}

.prdmenu_list .cont {		/* 메뉴 내용 */
	min-height: 115px;
	padding: 30px 5px 0;
	text-align: center;
}

.prdmenu_list .tit {		/* 메뉴 이름 */
	font-weight: 700;
	/* font-size: 1.25rem; */
	font-size: 1.15rem;
}

.predmenu_list .set_info {
	font-size: 1rem;
}

.set_info {
	display: block;
    margin: 5px 0;
    font-weight: 400;
    /* font-size: 1.25rem; */
    /* 혜린 추가 */
    /* 글씨 똑같이 줬더니 너무 큼 */
    font-size: 1rem;
    color: #8d8d8d;
    word-wrap: normal;
    word-break: keep-all;
}

.prdmenu_list .price {		/* 가격 */
    margin-top: 5px;
    font-weight: 700;
    /* font-size: 1.25rem; */
    color: #e22219;
    white-space: nowrap;
    
    /* 추가 */
    font-size: 1.15rem;		/* 너무 커서 글씨 좀 줄임 */
    letter-spacing: -1px;
    word-spacing: -2.5px;	/* 가격이랑 ~ 사이 간격 조정해서 줄임 */
}

.btn_detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -99999em;
    background: transparent;
}


/* 클릭하면 생길 세트 선택 팝업창 */
.popWrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 100;
}

.m_FullpopWrap .popbox01 {
	background: #f2ebe6;
}

.popbox01.nobtn {
	padding: 0;
}

.popbox01, .popbox02 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 568px;
	max-height: 95%;
	margin-left: -284px;
	padding-bottom: 84px;
	background: #fff;
	overflow: auto;
	webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.popWrap .titleBar{
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}

.popWrap .titleBar .page_tit {
    height: 104px;
    margin: 0;
    padding: 20px 70px 20px 40px;
    font-size: 1.875rem;
    text-align: center;
    line-height: 63px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contentsWrap .page_tit {
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 100%;
}

.popbox01 .title_btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.title_btn {
    display: none;
}

.popbox01 .title_btn button {
    width: 100px;
    height: 100%;
}

.popWrap .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

.btn_close {
    width: 40px;
    height: 40px;
    text-indent: -9999em;
    background: url(../../img/menu/menu_close.png) no-repeat 50%;
}    

.popbox01.nobtn .popcont {
    padding-bottom: 16px;
}

.popbox01.nobtn .popcont {
    max-height: 670px;
}

.popcont {
    max-height: 580px;
    padding: 24px 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.nopadding {
    padding: 0!important;
}

.popWrap .prd_intro {
    position: relative;
    height: 308px;
    background: url(../../img/menu/img_bg.gif) no-repeat 50%;
    background-size: 100% 100%;
    overflow: hidden;
}

.prd_intro {
    height: 400px;
    color: #fff;
    background: #130101 url(../../img/menu/img_bg.gif) no-repeat 50%;
}

.popWrap .prd_intro .prd_img {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    width: 371px;
    height: 243px;
    margin: -121.5px -55px 0;
}

.popWrap .prd_intro .prd_img .ico_flag_best, .popWrap .prd_intro .prd_img .ico_flag_new {
    left: 19px;
    top: 0;
}
.prd_intro .prd_img .ico_flag_new {
    background-image: url(https://www.burgerking.co.kr/dist/img/ico_flag_new02.250255f3.png);
}

.prd_intro .prd_img .ico_flag_best {
    background-image: url(	https://www.burgerking.co.kr/dist/img/ico_flag_best02.e30b860c.png);
}

.prd_intro .prd_img .ico_flag_best, .prd_intro .prd_img .ico_flag_new {
    left: 14px;
    top: 24px;
    width: 69px;
    height: 50px;
}

.ico_flag_best, .ico_flag_new {
    position: absolute;
    left: 0;
    top: 0;
    width: 49px;
    height: 35px;
    text-align: left;
    text-indent: -9999em;
    /* background: url(https://www.burgerking.co.kr/dist/img/ico_flag_new02.250255f3.png) no-repeat 0; */
}    

.prd_intro .prd_img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 504px;
    height: 330px;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -165px;
    text-align: right;
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.prd_img {
    position: relative;
}

.popWrap .prd_intro .prd_img>span {
	width: 100%;
	height: 100%;
}

.prd_intro .prd_img>span, .prd_intro .prd_img>span img {
    height: 100%;
}

.popWrap img:only-child {
	display: block;
}

.prd_intro .prd_img>span, .prd_intro .prd_img>span img {
	height: 100%;
}

.popWrap .prd_intro .intro_txt {
	left: 38px;
	width: 45%;
	max-width: 220px;
}

.prd_intro .intro_txt {
    position: absolute;
    left: 22px;
    top: 50%;
    width: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    word-wrap: normal;
    word-break: keep-all;
}

.popWrap .prd_intro .intro_txt .tit {
    font-size: 2.5rem;
}
.prd_intro .intro_txt .tit {
    display: block;
    font-size: 3.75rem;
    line-height: 100%;
}

.popWrap .prd_intro .intro_txt .subtxt {
    font-size: 1.125rem;
    line-height: 140%;
}
.prd_intro .intro_txt .subtxt {
    margin-top: 14px;
    font-size: 1.375rem;
}

.menu_sub_list02 {
    padding: 30px 38px;
}

.menu_sub_list02 li {
    position: relative;
    margin-bottom: 14px;
    padding: 0 210px 0 30px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 3%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 3%);
}

.menu_sub_list02 .prd_img {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 182px;
    height: 119px;
    margin-top: -59.5px;
}
.prd_img {
    position: relative;
}

.menu_sub_list02 .cont {
    min-height: 105px;
    padding: 30px 0;
    color: #2e2e2e;
}

.menu_sub_list02 .tit {
    margin-bottom: 7px;
    /* font-size: 1.625rem; */
    
    /* 추가 */
    font-family: 'S-CoreDream-9Black';
    font-size: 1.4rem;
}

.menu_sub_list02 .set {
    margin: 6px 0 10px;
    color: #2e2e2e;
}

.menu_sub_list02 .price {
    /* font-size: 1.625rem; */
    
    /* 추가 */
    font-weight:bold;
    font-family: 'S-CoreDream-9Black';
    font-size: 1.4rem;
    letter-spacing: -1.3px;
}

.btn_detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -99999em;
    background: transparent;
}


/* 클릭하면 생길 세트 업그레이드 선택 팝업창 */
.poptxt01.st02 {
	margin-top: 36px;
}

.poptxt01 {
	margin: 19px 0;
	/* font-size: 1.875rem; */
	text-align: center;
	line-height: 120%;
	
	/* 추가 */
	font-size: 1.75rem;
	font-family: 'S-CoreDream-9Black';
}

.prdsetWrap {
	margin: 28px 0 10px;
	color: 2e2e2e;
	text-align: center;
}

.prdsetWrap .prd_img {
	width: 296px;
	height: 194px;
	margin: 0 auto 7px;
}

.prdsetWrap .tit {
	margin: 7px 0;
	/* font-size: 1.875rem; */
	
	/* 추가 */
	font-size: 1.75rem;
	font-family: 'S-CoreDream-9Black';
}

.prdsetWrap .set {
	font-size: 1.5rem;
	
	/* 추가 */
	letter-spacing: -1px;
}

.c_btn:last-child {
	margin-bottom: 0;
}

.pop_btn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	overflow: hidden;
}

.c_btn {
	margin: 40px 0 80px;
	text-align: center;
	overflow: hidden;
}

.pop_btn.item2 a, .pop_btn.item2 button {
    float: left;
    width: 50%;
    margin: 0;
}
.c_btn.item2 a, .c_btn.item2 button {
    float: left;
    /* width: 49%; */
    /* width: calc(50% - 4px); */
    
    /* 추가 */
    width: 50%;
}
.btn02.dark, .btn02.st02 {
    background-color: #2e2e2e;
}
.pop_btn a, .pop_btn button {
    border-radius: 0;
}
.btn02, .btn02.red {
    display: inline-block;
    height: 84px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 1.625rem;
    color: #fff;
    text-align: center;
    line-height: 44px;
    background: #e22219 url(https://www.burgerking.co.kr/dist/img/bg_btn02_pattern.908362f6.png) repeat-x 0 0;
    background-size: auto 100%;
}

.c_btn.item2 a:last-child, .c_btn.item2 button:last-child {
	float: right;
}


/* 사이드L 변경 팝업 */
.pop_header01.st02 {
	padding: 10px 38px;
	text-align: left;
}

.pop_header01 {
	position: relative;
	height: 102px;
	padding: 10px 40px;
	/* font-size: 1.875rem; */
	text-align: center;
	line-height: 83px;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	
	/* 추가 */
	font-size: 1.75rem;
	font-family: 'S-CoreDream-9Black';
}

/* 추가 */
.pop_header01.st02 .m_cen {
	font-family: 'S-CoreDream-9Black';
}

.pop_header01 .btn_close {
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
}

.popcont.bg_basic {
	background: #f7f2ef;
}

.container01 {
	padding: 20px 0;
}

.menu_change {
	padding: 20px 0 0;
	font-size: 1.125rem;
	text-align: center;
	overflow: hidden;
}

.popWrap .menu_change li {
	margin: 0;
}

.menu_change li {
	position: relative;
	float: left;
	width: 33.3%;
	height: 185px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.menu_change .prd_img {
    max-width: 152px;
    height: 100px;
    margin: 0 auto;
}

.menu_change .cont {
	min-height: 4em;
	margin-top: 15px;
	padding: 0 5px;
	
	/* 추가 */
	letter-spacing: -1px;
}

.menu_change .list_chk, .menu_change .list_chk input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.menu_change .list_chk {
    margin: 0;
    background: none;
}

.menu_change .list_chk input {
    opacity: 0;
}
.menu_change .list_chk, .menu_change .list_chk input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.menu_change .list_chk input:checked+span {
    background: url(../../img/menu/img_menuCheck.png) no-repeat 53% 5%;
    opacity: 1;
}
.menu_change .list_chk input+span {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
}

.popWrap .btn02:only-child {
    max-width: 100%;
}

.btn02:only-child {
	width: 100%;
	max-width: 450px;
}

/* 재료추가 팝업창 */
.popcont.bg_basic {
	background: #f7f2ef;
}

/* 추가 */
/* 패딩이 다른 부분 걸 우선으로 먹어서 여기 다시 줌 */
.popcont.bg_basic.container01 {
	padding: 24px 40px;
}

.popcont .menu_sub_list {
	margin: 0;
	padding: 5px 0;
}

.menu_sub_list {
	margin-top: 60px;
	padding: 15px 0 5px;
	overflow: hidden;
}

.menu_sub_list.check_mode li {
    margin: 0;
    padding-left: 190px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu_sub_list li {
    position: relative;
    margin-bottom: 4px;
}

.menu_sub_list.check_mode li>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: 0;
}
.menu_sub_list.check_mode input {
    z-index: 10;
}

.menu_sub_list.check_mode input+:before {
	display: none;
}

input[type=checkbox]+:before, input[type=radio]+:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    vertical-align: middle;
}

input.check02+:before {
    width: 32px;
    height: 32px;
    background: url(../../img/menu/menu_check.png);
}

input.check02:checked+:before {
	width: 32px;
    height: 32px;
    background: url(../../img/menu/menu_checked.png);
}

.menu_sub_list.check_mode li>input:checked~.cont:before {
    background-image: url(../../img/menu/menu_checked.png);
}

.menu_sub_list.check_mode input~.cont:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0;
    background: url(../../img/menu/menu_check.png) no-repeat 0;
}

/* input[type=checkbox]:checked+:before {
    background: url(../../img/menu/menu_checked.png);
}  */

.menu_sub_list .prd_img {
    position: absolute;
    left: 48px;
    top: 50%;
    right: auto;
    width: 110px;
    height: 72px;
    margin: -36px 0 0;
}

.menu_sub_list .prd_img img {
    width: 100%;
}

.menu_sub_list .cont {
    display: table;
    width: 100%;
    min-height: 100px;
    padding: 0;
    color: #b8b8b8;
}

.menu_sub_list.check_mode input~.cont:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0;
	background: url(../../img/mypage/img_check.png) no-repeat 0;   
}

.menu_sub_list .tit {
    font-weight: 400;
    /* font-size: 1.375rem; */
    line-height: 120%;
    
    /* 추가 */
    font-size: 1.3rem;
}

.menu_sub_list .cont>* {
    display: table-cell;
    vertical-align: middle;
    
    /* 추가 */
    letter-spacing: -1px;
}

.menu_sub_list .price {
    padding-right: 5px;
    font-weight: 400;
    /* font-size: 1.375rem; */
    color: #b8b8b8;
    text-align: right;
    white-space: nowrap;
    
    /* 추가 */
    font-size: 1.3rem;
}

.menu_sub_list .price {
    margin-top: 5px;
    
    /* 추가 */
    font-size: 1.3rem;
}

.menu_sub_list .price>* {
    display: inline;
}


/* 유의사항 */

/* .tit03 {
	position: relative;
    margin: 25px 0;
    padding: 12px 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
}

.tit03>h2, .tit03>h3, .tit03>h4 {
    margin-right: 10em;
}

.tit03 button {
    position: absolute;
    right: 0;
    top: 50%;
    height: 1.4em;
    margin-top: -.7em;
    font-size: 1.125rem;
    color: #2e2e2e;
}

.btn_infoingredient {
    position: relative;
    padding: 0 0 0 24px;
    background: url(../../img/menu/img_info.png) no-repeat 0;
}

.btn_infoingredient>* {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.btn_infoingredient>:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: url(../../img/menu/img_next.png) no-repeat 100%;
}

.txtlist01 {
    margin: 7px 0 7px 5px;
    line-height: 167%;
}

.txtlist01 li {
    position: relative;
    padding-left: 12px;
}

.txtlist01 li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 1.67em;
    background: url(../../img/menu/img_dot.png) no-repeat 0;
} */



/* ***모바일 화면*** */
/* 아직 안 넣음 */

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.subtitWrap .tab01 li {
		padding: 0 12px;
	}
	
	.subtitWrap .tab01 button {
		font-size: 1rem;
	}
	
	.subtitWrap .tab01 button {
    font-size: 1rem;
    }
}

@media screen and (min-width: 767px) {}
	.w_alignL {
	    text-align: left!important;
	}
}